.subtotal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100px;
	width: 300px;
	padding: 20px;
	background-color: #f3f3f3;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
}

.subtotal__gift {
	display: flex;
	align-items: center;
}

.subtotal__gift--checkbox {
	visibility: hidden;
}

.subtotal__gift__input {
	margin-right: 5px;
}

.subtotal > button {
	margin-top: 10px;
	height: 30px;
	width: 100%;
	color: #111;
	background: #f0c14b;
	border: 1px solid;
	border-color: #a88734 #9c7e31 #846a29;
	border-radius: 2px;
}
